/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.splash__title {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 4.6875rem;
  line-height: 5.625rem;
}

.splash__subtitle {
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: italic;
  color: #fff;
  font-size: 2.5rem;
  line-height: 3rem;
}

.logo__link {
  font-family: Pacifico, cursive;
  font-weight: 400;
  font-style: normal;
  color: #fed136;
  font-size: 1.625rem;
  line-height: 2.5625rem;
  text-decoration: none;
}

.nav__link {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  font-size: 0.875rem;
  line-height: 2.5625rem;
  text-decoration: none;
}

.btn-main {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
  font-size: 1.125rem;
}

.services__title, .portfolio__title {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  font-size: 2.5rem;
  line-height: 4.6875rem;
}

.services__subtitle, .portfolio__subtitle {
  font-family: droid-serif, serif;
  font-weight: 400;
  font-style: italic;
  color: #777;
  font-size: 1rem;
  line-height: 1.2rem;
}

.services__item-title, .portfolio__item-title {
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #000;
  font-size: 1.125rem;
  line-height: 4.6875rem;
}

.services__descr, .portfolio__descr {
  font-family: droid-serif, serif;
  font-weight: 400;
  color: #777;
  font-size: 0.875rem;
}

.footer__copy {
  font-family: montserrat, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #777;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.services, .portfolio {
  padding: 7.5rem 0;
}

.container {
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  min-width: 160px;
  padding: 25px 50px;
  border-radius: 5px;
  font-family: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-position: 100% 0;
  background-size: 300%;
}

.btn:hover {
  background-position: 0 100%;
}

.btn-main {
  color: #fff;
  background: #fed136;
}

.btn-main:hover {
  color: #777;
}

/* Header */
.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/headline.jpg) no-repeat center center;
  height: 43.75rem;
}

.container__top {
  padding-top: 3.125rem;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .container__top {
    -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    padding-top: 1rem;
  }
}

.logo {
  width: 50%;
}

.nav {
  width: 50%;
}

@media (max-width: 768px) {
  .nav {
    width: 100%;
    margin-bottom: 0.75rem;
  }
}

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 768px) {
  .nav__list {
    border-bottom: 1px #fff solid;
  }
}

.splash {
  width: 80%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
}

.splash__title {
  margin-bottom: 3.125rem;
}

@media (max-width: 768px) {
  .splash__title {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }
}

.splash__subtitle {
  margin-bottom: 3.125rem;
}

@media (max-width: 768px) {
  .splash__subtitle {
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }
}

/* Services */
.services {
  text-align: center;
}

.services__subtitle {
  margin-bottom: 5rem;
}

.services__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media (max-width: 768px) {
  .services__content {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

.services__descr {
  font-style: normal;
  line-height: 1rem;
}

.services__icon {
  font-size: 2.1rem;
  width: 4.5625rem;
  height: 4.5625rem;
  line-height: 4.5625rem;
  color: #fed136;
  border-radius: 50%;
  border: 2px #fed136 solid;
}

.services__item {
  width: 31%;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .services__item {
    width: 80%;
    margin-bottom: 2rem;
  }
}

@media (max-width: 360px) {
  .services__item {
    width: 100%;
  }
}

/* Portfolio */
.portfolio {
  text-align: center;
  background: #f7f7f7;
}

.portfolio__subtitle {
  margin-bottom: 5rem;
}

.portfolio__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.portfolio__item {
  display: -ms-flexbox;
  display: flex;
  width: 31%;
  -ms-flex-direction: column;
      flex-direction: column;
  background: #fff;
  margin-bottom: 3.125rem;
  text-decoration: none;
}

@media (max-width: 768px) {
  .portfolio__item {
    width: 47%;
  }
}

@media (max-width: 360px) {
  .portfolio__item {
    width: 100%;
  }
}

.portfolio__img-wrapper {
  height: 18.75rem;
  width: 100%;
}

.portfolio__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio__descr-wrapper {
  width: 100%;
  margin: 2.1875rem 0;
}

.portfolio__item-title {
  line-height: 1.375rem;
}

.portfolio__descr {
  font-style: italic;
  line-height: 1.05rem;
}

/* Footer */
.footer {
  margin: 3.125rem 0;
}

.footer__content {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
}

.footer__copy {
  grid-column: 1 / 2;
  -ms-grid-row: 1;
      grid-row: 1;
}

@media (max-width: 768px) {
  .footer__copy {
    grid-column: 1 / 4;
    -ms-grid-row: 2;
        grid-row: 2;
    margin: 0 auto;
  }
}

.footer__list {
  display: -ms-flexbox;
  display: flex;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
      grid-row: 1;
  -ms-flex-pack: center;
      justify-content: center;
}

.footer__link {
  text-decoration: none;
}

.footer__icon {
  position: relative;
  font-size: 0.875rem;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  background: #000;
  color: #fff;
  border-radius: 50%;
  margin: 0 0.25rem;
}

.footer__icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer__descr {
  height: 1px;
  width: 1px;
  position: absolute;
  left: -10000em;
  top: 0;
}
/*# sourceMappingURL=style.css.map */