@import '_variables';
@import '_mixins';
@import '_reset';

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

%bigHeadlineTitle {
    font-family: $header-font-family;
    font-weight: $fw-bold;
    font-style: $fs-regular;
    color: $light-text-color;
    font-size: $h1-font-size;
    line-height: $base-unit * 5.625;
}

%bigHeadlineSubtitle {
    font-family: $text-font-family;
    font-weight: $fw-regular;
    font-style: $fs-italic;
    color: $light-text-color;
    font-size: $h2-font-size;
    line-height: $base-unit * 3;
}

%logoText {
    font-family: $logo-font-family;
    font-weight: $fw-regular;
    font-style: $fs-regular;
    color: $product-color;
    font-size: $base-unit * 1.625;
    line-height: $base-unit * 2.5625;
    text-decoration: none;
}

%navText {
    font-family: $header-font-family;
    font-weight: $fw-regular;
    font-style: $fs-regular;
    color: $light-text-color;
    font-size: $text-font-size;
    line-height: $base-unit * 2.5625;
    text-decoration: none;
}

%buttonText {
    font-family: $header-font-family;
    font-weight: $fw-bold;
    font-style: $fs-regular;
    color: $light-text-color;
    font-size: $base-unit * 1.125;
}

%sectionTitleText {
    font-family: $header-font-family;
    font-weight: $fw-bold;
    font-style: $fs-regular;
    color: $header-color;
    font-size: $base-unit * 2.5;
    line-height: $base-unit * 4.6875;
}

%sectionDescrText {
    font-family: $text-font-family;
    font-weight: $fw-regular;
    font-style: $fs-italic;
    color: $text-color;
    font-size: $base-unit;
    line-height: $base-unit * 1.2;
}

%itemTitleText {
    font-family: $header-font-family;
    font-weight: $fw-bold;
    font-style: $fs-regular;
    color: $header-color;
    font-size: $base-unit * 1.125;
    line-height: $base-unit * 4.6875; 
}

%descrText {
    font-family: $text-font-family;
    font-weight: $fw-regular;
    color: $text-color;
    font-size: $text-font-size;
}

%sectionPadding {
    padding: $base-unit * 7.5 0;
}

.container {
    max-width: $wrapper-max;
    margin: 0 auto;
    padding: 0 $base-unit;
}

.btn {
    display: inline-block;
    min-width: 160px;
    padding: 25px 50px;
    border-radius: 5px;
    font-family: $light-text-color;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-position: 100% 0;
    background-size: 300%;
    
    &:hover {
        background-position: 0 100%;
    }
}

.btn-main {
    color: $light-text-color;
    background: $product-color;
    @extend%buttonText;
    
    &:hover {
        color: $text-color;
    }
}