@import '_global';

/* Header */

.header {
    position: relative;
    background:
        linear-gradient(
          rgba(0, 0, 0, 0.7), 
          rgba(0, 0, 0, 0.7)
        ),
        url(../images/headline.jpg) no-repeat center center;
        height: $base-unit * 43.75;

    &__splash {
        width: 80%;
        text-align: center;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-40%);

        &__inner__title {
            margin-bottom: $base-unit * 3.125;
            @extend%bigHeadlineTitle;

            @include max-media($br-tablet) {
                font-size: $base-unit * 3;
                margin-bottom: $base-unit *2.5;
            }
        }

        &__inner__subtitle {
            @extend%bigHeadlineSubtitle;
            margin-bottom: $base-unit * 3.125;

            @include max-media($br-tablet) {
                font-size: $base-unit * 2;
                margin-bottom: $base-unit * 1.75;
            }
        }
    }

    &__top {
        padding-top: $base-unit * 3.125;
        display: flex;

        @include max-media($br-tablet) {
            flex-direction: column-reverse;
            padding-top: $base-unit;
        }

        &__logo {
            width: 50%;
        }

        &__logo__link {
            @extend%logoText;
        }

        &__nav {
            width: 50%;

            @include max-media($br-tablet) {
                width: 100%;
                margin-bottom: $base-unit * .75;
            }

            &__list {
                display: flex;
                justify-content: space-around;

                @include max-media($br-tablet) {
                    border-bottom: 1px $light-text-color solid;
                }
            }

            &__link {
                @extend%navText;
            }
        }
    }
}

/* Services */

.services {
    @extend%sectionPadding;
    text-align: center;

    &__title {
        @extend%sectionTitleText;
    }

    &__descr {
        @extend%sectionDescrText;
        margin-bottom: $base-unit * 5;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        @include max-media($br-tablet) {
            flex-direction: column;
            align-items: center;
        }   

        &__item {
            width: 31%;
            margin: 0 $base-unit;

            @include max-media($br-tablet) {
                width: 80%;
                margin-bottom: $base-unit * 2; 
            }

            @include max-media($br-mobile) {
                width: 100%;
            }

            &__icon {
                font-size: $base-unit * 2.1;
                width: $base-unit * 4.5625;
                height: $base-unit * 4.5625;
                line-height: $base-unit * 4.5625;
                color: $product-color;
                border-radius: 50%;
                border: 2px $product-color solid;
            }

            &__title {
                @extend%itemTitleText;
            }

            &__descr {
                @extend%descrText;
                font-style: $fs-regular;
                line-height: $base-unit; 
            }
        }
    }
}

/* Portfolio */

.portfolio {
    @extend%sectionPadding;
    text-align: center;
    background: $grey-background-color;

    &__title {
        @extend%sectionTitleText;
    }

    &__descr {
        @extend%sectionDescrText;
        margin-bottom: $base-unit * 5;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            display: flex;
            width: 31%;
            flex-direction: column;
            background: $light-text-color;
            margin-bottom: $base-unit * 3.125; 
            text-decoration: none;
            
            &__imgWrapper {
                height: $base-unit * 18.75;
                width: 100%;
            }

            &__img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

            &__descrWrapper {
                width: 100%;
                margin: $base-unit * 2.1875 0;
            }

            &__title {
                @extend%itemTitleText;
                line-height: $base-unit * 1.375;
            }

            &__descr {
                @extend%descrText;
                font-style: $fs-italic;
                line-height: $text-font-size * 1.2; 
            }
        }
    }
}
